<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.online.shop.AdminMapper">
	<insert id=""></insert>
	<select id="selectByBuy" resultType="com.online.shop.domain.BuyVO">
	select * from s_tbl_Buy where buy_status = 5  and rownum between 1 and 5 order by buy_date desc
	</select>
	
	<select id = "selectByBuy2" resultType="com.online.shop.domain.BuyVO">
	select * from s_tbl_Buy where buy_status between 0 and 3 and rownum between 1 and 5 order by buy_date desc
	</select>
	
	<select id = "selectByBuyr" resultType="com.online.shop.domain.BuyVO">
	select * from s_tbl_Buy where buy_status between 0 and 3 order by buy_date desc
	</select>
    
    <select id = "selectByBuyf" resultType="com.online.shop.domain.BuyVO">
	select * from s_tbl_Buy where buy_status = 5 order by buy_date desc
	</select>
	
	<select id = "selectByBuyRequest" resultType="com.online.shop.domain.BuyVO">
	select * from S_TBL_BUY where BUY_STATUS between 0 and 2 order by buy_date desc
	</select>
	
	<select id = "selectByBuyToday" resultType="com.online.shop.domain.BuyVO">
	select * from S_TBL_BUY where to_char(buy_comp,'yy/MM/dd') like #{today} and BUY_STATUS = 5 order by buy_date desc
	</select>
	
 </mapper>